@model CrudMVC.Models.EmployeeTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmployeeTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmpID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpFName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpFName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpMName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpMName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpLName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpLName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpAddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmpID}) |
    @Html.ActionLink("Back to List", "Index")
</p>
